<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="travelAworld.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="travelAworld.WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <travelAworld.WinUI.Properties.Settings>
            <setting name="APIUrl" serializeAs="String">
                <value>https://localhost:44360/api</value>
            </setting>
        </travelAworld.WinUI.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <travelAworld.WinUI.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Role" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfilePic" serializeAs="String">
                <value>0</value>
            </setting>
        </travelAworld.WinUI.Properties.Settings>
    </userSettings>
</configuration>